---
import { Container } from './container';
---

<Container>
  <footer class="footer">
    <p>
      Developed by <a
        href="https://x.com/sleepyiconical"
        rel="noreferrer"
        target="_blank">Iconical</a
      >.
    </p>
    <p>
      Thanks to <a href="https://x.com/remvze" rel="noreferrer" target="_blank"
        >Maze</a
      >.
    </p>
    <p>
      Source code on <a
        href="https://github.com/sleepyico/gpass"
        rel="noreferrer"
        target="_blank">GitHub</a
      >.
    </p>
  </footer>
</Container>

<style>
  .footer {
    padding-bottom: 40px;

    & p {
      font-size: var(--font-sm);
      color: var(--color-foreground-subtle);

      &:not(:last-of-type) {
        margin-bottom: 8px;
      }

      & a {
        font-weight: 500;
        color: var(--color-foreground);
        text-decoration: none;
      }
    }
  }
</style>
